*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

header {
    background-color: #303030;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 40px;
    align-items: center;
}

a {
    color: #e4e4e4;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#hero   {
    background: linear-gradient(to right, #c21313,#920404);
    height: 100vh;
}

#main-texts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
    flex-direction: column;
}